@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500&subset=cyrillic,latin);
body {
  padding: 0 !important;
  margin: 0;
  font-family: Roboto; }

.line {
  width: 100px;
  height: 2px;
  background-color: rgba(128, 128, 128, 0.5); }

.page-listing {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh; }

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  max-width: 100%;
  max-width: 100%;
  height: 128px;
  font-weight: 300; }
  .heading__logo {
    font-size: 25px;
    margin-left: 50px; }
  .heading__menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
    .heading__menu span {
      margin-left: 30px;
      opacity: 0.7;
      cursor: pointer; }
    .heading__menu span:nth-child(1) {
      opacity: 1; }

.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 1000px;
  font-weight: 300;
  max-width: 100%;
  box-sizing: border-box;
  padding-left: 50px; }
  .title span {
    font-size: 21px;
    margin-bottom: 20px; }

.cards {
  width: 1000px;
  max-width: 100%;
  padding-top: 20px; }

.card {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  max-width: 100%;
  height: 312.5px;
  float: left;
  box-sizing: border-box;
  padding: 50px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  .card a {
    text-decoration: none;
    color: black; }
  .card:hover {
    background-color: rgba(128, 128, 128, 0.075); }
  .card .caption {
    font-size: 21px;
    margin-bottom: 20px;
    font-weight: 300; }
  .card .text {
    margin-top: 20px;
    font-size: 18px;
    min-height: 128px;
    height: 128px;
    overflow: hidden;
    font-weight: 300;
    opacity: 0.8; }
  .card .date {
    text-align: right;
    font-weight: 300; }

.footer {
  background-color: #f2f2f2;
  width: 100%;
  height: 128px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  margin-top: 128px;
  font-weight: 300; }

.post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  .post__title {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 300; }
  .post__content {
    width: 700px;
    max-width: 100%;
    font-weight: 300; }
